.dropdown{
  display: inline-block;
  position: relative;
}
#dropdownButton{
  background: white;
  display: flex;
  justify-content: space-between;
  min-width: 130px;
  border: none;
  align-self: center;
  border-radius: 5px;
  height: 30px;
  font-size: large;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
}

.dropdownItemContainer{
  list-style-type: none;
  background: white;
  top: 15px;
  min-width: 150px;
  display: inline-block;
  position: absolute;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.dropdownItemContainer li {
  text-align: center;
  margin: 5px;
  font-size: large;
  cursor: pointer;
}
.dropdownItemContainer li:hover {
  background: lightgray;
}
#labels{
  font-size:x-large;
  color: blue;
  margin:10px;
  

}
